body{
    text-align: center;
}

button{
    border-radius: 3px;
}

div{
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin: auto;
    padding-top: 5px;
    border-radius: 30px;
   
}